<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title -%}
    {% if title %}
        <title>Pro Flask - {{title}}</title>
    {% else %}
        <title>Pro Flask</title>
    {% endif %}
{% endblock %}
</head>
<body>
    {% block content -%}
        {%- block mainmenu -%}
            <ul class="mainmenu">
                <li><a href="{{url_for('index')}}">Главная</a></li>
                <li><a href="{{url_for('addPost')}}">Добавление статьи</a></li>
            </ul>
        {% endblock mainmenu -%}
        <div class="clear"></div>
        <div class="content">
        {% if title -%}
            <h1>{{ title }}</h1>
        {% else -%}
            <h1>Pro Flask</h1>
        {% endif -%}
    {% endblock -%}
    </div>
</body>

</html>